<ion-pane>
      <ion-header-bar class="bar-dark">
        <h1 class="title">Travelr</h1>
      </ion-header-bar>

      <ion-content>
        <ion-refresher pulling-text="Pull to Refresh" refreshing-text="Loading..." on-refresh="loadDestination()">
        </ion-refresher>
        <ion-list>
        <ion-item data-ng-repeat="location in locations" class="transparent-bg">
        
        <h2>{{location.name}}</h2>
        <a href="#/details/{{location.id}}" ><img data-ng-src="img/next15.png" class="arrow" alt="next"></a>
        <img src="img/{{location.image}}" alt="destinationimage">

        <p id="desc">{{location.tips}}</p>
        

          

        </ion-item>
      </ion-list>
      </ion-content>


    </ion-pane>